<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-secondary">
            <fa-icon [icon]="faAlignLeft"></fa-icon>
            Toggle Navigation
        </button>
        <ng-container *ngIf="!user; else authenticated">
            <!-- User is not logged in; show Login button -->
            <div id="nav-login">
                <button id="register-btn" class="btn btn-secondary ml-2 my-2 my-sm-0">Register</button>
                <button id="login-btn" class="btn btn-primary ml-2 my-2 my-sm-0">Login</button>
            </div>
        </ng-container>
        <ng-template #authenticated>
            <!-- User is logged in; welcome them and show Logout button -->

        </ng-template>
    </div>
</nav>