<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-secondary">
            <fa-icon [icon]="faAlignLeft"></fa-icon>
            Toggle Navigation
        </button>
        <ng-container *ngIf="!isUser(); else authenticated">
            <!-- User is not logged in; show Login button -->
            <div id="nav-login">
                <button id="register-btn" routerLink="/register" class="btn btn-secondary ml-2 my-2 my-sm-0">Register</button>
                <button id="login-btn" routerLink="/login" class="btn btn-primary ml-2 my-2 my-sm-0">Login</button>
            </div>
        </ng-container>
        <ng-template #authenticated>
            <!-- IF PATRON, SHOW VIEW MY CARDS BUTTON -->
            <button *ngIf="isPatron();" id="view-my-cards-btn" routerLink="/view-collection" class="btn btn-secondary ml-2 my-2 my-sm-0">View My Cards</button>
            <!-- IF ADMIN, SHOW ADMIN BUTTON -->
            <button *ngIf="isAdmin();" id="admin-btn"  class="btn btn-danger ml-2 my-2 my-sm-0">Admin</button>
            <!-- User is logged in; welcome them and show Logout button -->
            <!-- <p> Welcome, {{user.username}} </p> -->
            <button id="logout-btn" (click)="logOut()" class="btn btn-danger ml-2 my-2 my-sm-0">Logout</button>

        </ng-template>
    </div>
</nav>