<nav id="sidebar">
    <div class="sidebar-header">
        <h3>MEME MARKET</h3>
    </div>
    <ul id="nav-sidebar" class="list-unstyled components">
        <li [class.active]="router.isActive('/home', false)">
            <a routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <ng-container *ngIf="isPatron()">
            <li [class.active]="router.isActive('/view-collection', false)">
                <a routerLink="/view-collection">Collection</a>
            </li>
            <li [class.active]="router.isActive('/browse-patrons', false)">
                <a routerLink="/browse-patrons">Browse Other Users</a>
            </li>
            <li [class.active]="router.isActive('/trades', false)">
                <a routerLink="/trades">Trades</a>
            </li>
        </ng-container>
        <ng-container *ngIf="isAdmin()">
            <li [class.active]="router.isActive('/admin', false)">
                <a routerLink="/admin">Admin</a>
            </li>
            <li [class.active]="router.isActive('/card/add', false)">
                <a routerLink="/card/add">Add Card</a>
            </li>
            <li [class.active]="router.isActive('/admin-card', false)">
                <a routerLink="/admin-card">All Cards</a>
            </li>
        </ng-container>
    </ul>
    <ul class="list-unstyled CTAs">
        <li>
            <a routerLink="/pick-card-pack" class="text-dark bg-warning">OPEN CARD PACKS</a><br>
        </li>
        <li>
            <a routerLink="/buy-stonks" id="buy-stonks"><span class="sr-only">BUY STONKS</span></a>
        </li>
    </ul>
</nav>