<nav id="sidebar">
    <div class="sidebar-header">
        <h3>MEME MARKET</h3>
    </div>
    <ul id="nav-sidebar" class="list-unstyled components">
        <li class="active">
            <a href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li>
            <a href="#">Collection</a>
        </li>
        <li>
            <a href="#">Trading</a>
        </li>
        
    </ul>
    <ul class="list-unstyled CTAs">
        <li>
            <a href="#" class="text-dark bg-warning">GET MORE CARDS!</a>
        </li>
        <li>
            <a href="#" id="buy-stonks"><span class="sr-only">BUY STONKS</span></a>
        </li>
    </ul>
</nav>