<h2 data-text= "Meme Market">Meme Market</h2>

<p>Given the current state of the world, we need memes now more than ever. All you have to do to start collecting your own memes is register an
    account. You'll get 100 stonks to start off with! If you just can't get enough memes with that then feel free to buy more stonks or just trade
    with others to get what you want.
</p>
<p>More memes will be added every week so keep checking back to keep your collection up-to-date with the spiciest memes!</p>
<p>You can hover over each image to check the rarity.</p>
<div class="line"></div>

<h3 data-text = "News">News</h3>

<p><strong>2020-03-22:</strong> Closed Beta launched! You can register, buy stonks, and buy packs of cards no problem! 
    Trading is being actively developed with hopes to have it ready for testing by tomorrow!</p>