<h2>Card Details</h2>
<img src="{{card.image}}">
<p>Card Text: {{card.cardText}}</p>
<p style="white-space: pre-line">Meme Text: {{card.memeText}}</p>
<p>Card Tag: {{card.tag}}</p>
<p>Card Rarity: {{card.rarity.name}}</p>

<div class="line"></div>
<div id="collection">
    <h2>Comments</h2>
    <div class="comment" *ngFor="let c of card.comment">
        <h6>{{c.username}}</h6>
        {{c.commentText}}
        <div class="timestamp">{{getTimestamp(c.timeOfComment)}}</div>
        <button (click)="deleteComment(c)" id="deleteButton" class="submit-with-icon" *ngIf="us.isAdmin()"><span class="glyphicon glyphicon-trash"> Delete Comment</span></button>
    </div>
    <form class="form-inline">
        <input type="text" [(ngModel)]="comment.commentText" class="form-control" name="comment" placeholder="Type comment here" size="50">
        <button (click)="addComment()" class="btn btn-primary">Add Comment</button>
    </form>
</div>
<div class="line"></div>
<button (click)="goBack()" class="btn btn-secondary">Go Back</button>
<button (click)="deleteCard()" class="btn btn-danger mx-2" *ngIf="us.isAdmin()">Delete Card</button>
