<ng-container *ngIf="us.isPatron(); else notlogged">
    <div id="pack-btns">
        <h2>Get Your Cards Here</h2>
        <button id="pack1-btn" (click)="buyPack(1)" class="btn btn-primary ml-2 my-2 my-sm-0">Tier 1</button>
        <button id="pack2-btn" (click)="buyPack(2)" class="btn btn-primary ml-2 my-2 my-sm-0">Tier 2</button>
        <button id="pack3-btn" (click)="buyPack(3)" class="btn btn-primary ml-2 my-2 my-sm-0">Tier 3</button>
    </div>
    <div id="pack-view" style="display: none;">
        <h2>What You Got</h2>
        <div *ngFor="let c of cardsInPack">
            <img src="{{c.image}}" class="memeImage {{c.rarity.name}}">
        </div>
    </div>
</ng-container>

<ng-template #notlogged>
    <h2>Get Your Cards Here</h2>
    <p>You must be logged in to buy packs!</p>
</ng-template>
