<h2>Offer A Trade</h2>
<button (click)="submitTradeOffer()" class="btn btn-secondary">Submit Trade Offer</button>
<div id="otherUsersCardDiv">
    <button (click)="viewLoggedCollection()" class="btn btn-secondary">View Your Collection</button>
    <h2>{{otherUser.username}}'s Collection</h2>
    <p>Select the card(s) you would like to recieve.</p>
    <div id="collection">
        <div *ngFor="let oc of otherUser.patron.ownedCards">
            <img id="ownedCard{{oc.id}}" src="{{oc.card.image}}" (click)="toggleInOutOfList(oc)" class="memeImage {{oc.card.rarity.name}}">
        </div>
    </div>
</div>
<div id="loggedUsersCardDiv">
    <button (click)="viewOtherCollection()" class="btn btn-secondary">View {{otherUser.username}}'s' Collection</button>
    <h2>Your Collection</h2>
    <p>Select the card(s) you would like to offer.</p>
    <div id="collection">
        <div *ngFor="let oc of loggedUser.patron.ownedCards">
            <img id="ownedCard{{oc.id}}" src="{{oc.card.image}}" (click)="toggleInOutOfList(oc)"  class="memeImage {{oc.card.rarity.name}}">
        </div>
    </div>
</div>

<button (click)="goBack()" class="btn btn-secondary">Go Back</button>